/*INSTITUCIONAL HOME*/



.hola{
  width: 50%;
  height:500px; 
  background-image: url(../img/institucional-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.hola:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/institucional-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }



/*VISUAL HOME*/

.visualhome{
  width: 50%;
  height:500px; 
  background-image: url(../img/visual-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.visualhome:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/visual-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*ILUS HOME*/

.ilushome{
  width: 50%;
  height:500px; 
  background-image: url(../img/ilustracion-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.ilushome:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/ilustracion-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*EDITORIAL HOME*/

.editorialhome{
  width: 50%;
  height:500px; 
  background-image: url(../img/editorial-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.editorialhome:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/editorial-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }


/*FOTOGRAFIA HOME*/

.fotografiahome{
  width: 50%;
  height:500px; 
  background-image: url(../img/fotografia-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.fotografiahome:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/fotografia-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*WEB HOME*/

.webhome{
  width: 50%;
  height:500px; 
  background-image: url(../img/web-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.webhome:hover{
  width: 50%;
  height:500px; 
  background-image: url(../img/web-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*FIN HOME*/

/*NEW NAV BAR*/

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: white;
}
.dark-pink-text {
color:white;
}
.dark-amber-text {
color: white;
}
.dark-teal-text {
color: white;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
color: white!important;
}
.navbar-light .navbar-brand
{
color: white!important;
}

a .nav-link .waves-effect .waves-light{

  font-family: 'Poppins', sans-serif !important;
  font-weight: 200 !important;
  font-size: 30px !important;
}


/*FIN NAV BAR*/


.button{
	border: none;
}


.titulo-ppal{

font-family: 'Quicksand', sans-serif;
font-weight: 400px;
font-size: 20px;
letter-spacing: 20px;
color:black;
padding-top:100px;
padding-bottom:200px;



}
.titulo-ppal img {
  margin:auto;
}

h1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200 !important;
  font-size: 70px !important;
}

h2 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 100 !important;
  font-size: 50px !important;
  padding:2%;
}

h3{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 25px !important;
  margin: 40px !important;
}

.h3 .webalt .webinterfaz{
  color:black !important; 
}

h4{
font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    color: #ef6bcc !important;
    margin: 40px !important;
}

p .footerp {
    font-size: 10px !important;

}

p{
   
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  margin: 20px;
}
.titulo{
	margin: 100px;
}
.cajas {

	padding: 100px;
}

.cajita{

  margin:auto ; 
}

.visual{
  background-image: url(../img/fondo2.png);
  background-attachment: fixed;
	background-color: black;
  color:white;

}


.institucional{

  background-color: white;
    color:black;

}


.institucional-face{

  background-image: url(../img/fondo1.png);
  background-attachment: fixed;


}

 a:hover {
background-color: black;
}


 .ilustracion{
 
  background-image: url(../img/fondo2.png);
  background-attachment: fixed;
  background-color: black;
  color:white;

}

.editorial{
 
  background-color: black;
  color:pink;

}
.web{

	background-image: url(../img/fondo1.png);
	background-attachment: fixed;


}


 .web img {
	margin: 15px;
}

.web .img-responsive{
    margin: 0 auto;
    margin-bottom: 60px;
}

.webalt{

  background-color: #f799ff;
    color:white;


}

.webinterfaz{

  background-image: url(../img/fondo1.png);
  background-attachment: fixed;
  background-color:white;
  color: #f799ff;
  margin:0;
}

.video , .fotorama{

	padding: 70px;
	border-bottom: 1px solid pink;
	margin: auto;
	}

 .visual .fotorama{
  width: 424px;
}

 .fotografia .fotorama{
  width: 1000px;
}


.audiovisual{
	background-image: url(../img/deco.png);
	background-repeat: no-repeat;
}


footer{
  padding:2%;
  opacity: 0.9;
  color: grey;
  height: 5%;
  background-color: black;
  color: white;
  font-size: 5px;
}



/*Para Tablets y Smartphones*/
@media(max-width: 768px){




.hola{
  width: 100%;
  height:500px; 
  background-image: url(../img/institucional-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 768px 555px;
  background-color: black;
  color:white;


}

.hola:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/institucional-home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 768px 555px;
  background-color: black;
  color:white;
 }





/*VISUAL HOME*/

.visualhome{
  width: 100%;
  height:500px; 
  background-image: url(../img/visual-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.visualhome:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/visual-home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*ILUS HOME*/

.ilushome{
  width: 100%;
  height:500px; 
  background-image: url(../img/ilustracion-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.ilushome:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/visual-home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*EDITORIAL HOME*/

.editorialhome{
  width: 100%;
  height:500px; 
  background-image: url(../img/editorial-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.editorialhome:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/editorial-home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }


/*FOTOGRAFIA HOME*/

.fotografiahome{
  width: 100%;
  height:500px; 
  background-image: url(../img/fotografia-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.fotografiahome:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/fotografia-home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }

/*WEB HOME*/

.webhome{
  width: 100%;
  height:500px; 
  background-image: url(../img/web-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
  display: inline-block;


}

.webhome:hover{
  width: 100%;
  height:500px; 
  background-image: url(../img/web-home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 960px 618px;
  background-color: black;
  color:white;
 }


/*FIN HOME*/ 


.titulo-ppal{

font-family: 'Raleway', sans-serif;
font-weight: 400px;
font-size: 20px;
letter-spacing: 10px;
color:black;
padding: 100px 50px 100px 50px;

}
.cajas , .video {
padding: 25px;
}

.titulo{
  margin: 25px;
}

 .visual .fotorama{
  width: 400px;
}

 .fotografia .fotorama{
  width: 550px;
}



iframe{
	width: 336px;
	height: 189px;
}


}

 /* Sólo Smartphones */

 @media (max-width: 480px) {
      .visual .fotorama{
  width: 300px;
}

 .fotografia .fotorama{
  width: 350px;
}

    }

   
